<div style="display: flex; justify-content: flex; align-items: center; height: 30px;">
    <!-- Alert icon -->
    <button mat-icon-button >
        <mat-icon>add_alert</mat-icon>
    </button>
    
    <!-- person icon -->
    <button mat-icon-button>
        <mat-icon >perm_identity</mat-icon>
    </button>

    <!-- color pallate icon -->
    <button mat-icon-button>
            <mat-icon>color_lens</mat-icon>
    </button>
    
    <!-- insert photo icon -->
    <button mat-icon-button>
        <mat-icon> insert_photo</mat-icon>
    </button>
    
    <!-- archive  icon -->
    <button mat-icon-button >
        <mat-icon >archive</mat-icon>
    </button>

    <!-- more icon -->
    <button mat-icon-button >
        <mat-icon>more_vert</mat-icon>
    </button>
        <mat-menu yPosition="below">    
            <div class="deleteButton" mat-stroked-button >Delete</div>
        </mat-menu>
</div>