span {
    margin-left: 33px;
}
  
.first-row {
    display: flex;
}
  
.color {
    height: 40px;
    width: 18px;
    border-radius: 100px/100px;
}
  
.color-icon {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 14vh;
}

.menuRow{
    display: flex;
    flex-direction: row;
    align-items: center;
}