.create {
    display: flex;
    justify-content: center;
    padding-top: 0px;
    padding-left: 50px;
    background-repeat:no-repeat;
    clear: right;
    //position: relative;
}

.display {
    //padding: 70px 0px 0px 0px;
    height: 89%;
    background-repeat:no-repeat;
    //position: relative;
}

@media screen and (max-width: 768px){
    .create{
        padding-left: 0px;
    }
    .display{
        padding: 70px 0px 0px 90px;
    }
}
@media screen and (max-width: 414px){
    .create{
        padding-left: 0px;
        padding-top:0px;
    }
    .display{
        padding: 0px 0px 0px 0px;
    }
}